<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yony.my_olang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Hobby_Reccomend_View"
            android:exported="true" />
        <activity
            android:name=".Same_Reccomend_View"
            android:exported="true" />
        <activity
            android:name=".Near_Reccomend_View"
            android:exported="true" />
        <activity
            android:name=".Random_Reccomend_View"
            android:exported="true" />
        <activity
            android:name=".AI_Reccomend_View"
            android:exported="true" />
        <activity
            android:name=".PW_Found_Result_View"
            android:exported="true" />
        <activity
            android:name=".Id_Found_Result_View"
            android:exported="true" />
        <activity
            android:name=".Join_View"
            android:exported="true" />
        <activity
            android:name=".IdPw_Find"
            android:exported="true" />
        <activity
            android:name=".One_Two_One_One_One"
            android:exported="true" />
        <activity
            android:name=".Reccommend_View"
            android:exported="true" />
        <activity
            android:name=".Recommend_Caegory_View"
            android:exported="true" />
        <activity
            android:name=".Recommend_Main_View"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>