<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yony.my_olang">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ChatNameView"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.actions" />

        <activity
            android:name=".MyInfoView"
            android:exported="true" />
        <activity
            android:name=".PasswardChangeView"
            android:exported="true" />
        <activity
            android:name=".LockSetView"
            android:exported="true" />
        <activity
            android:name=".LoginView"
            android:exported="true" />
        <activity
            android:name=".IdCardView"
            android:exported="true" />
        <activity
            android:name=".AlramSetView"
            android:exported="true" />
        <activity
            android:name=".SignOutView"
            android:exported="true" />
        <activity
            android:name=".ConfirmView"
            android:exported="true" />
        <activity
            android:name=".CancelView"
            android:exported="true" />
        <activity
            android:name=".LogoutConfirmView"
            android:exported="true" />
        <activity
            android:name=".MyProfileChangeView"
            android:exported="true" />
        <activity
            android:name=".RecommendPreferenceView"
            android:exported="true" />
        <activity android:name=".ChatListView" />
        <activity android:name=".ChatScreenShareView" />
        <activity android:name=".ChatFaceView" />
        <activity android:name=".ChatCallView" />
        <activity android:name=".ChatGameView" />
        <activity android:name=".ChatSelectPictureView" />
        <activity android:name=".ChatView" />
        <activity android:name=".ChatSelectView" />
        <activity android:name=".FriendApplyView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FriendListView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>